<div *ngIf="posts.length; else loading">

  <button
    [routerLink]="['/blog', userId]"
    class="btn btn-light to-blog"
  >Перейти в блог</button>

  <div class = "form-control">
    <input type="text" placeholder="Найти пост..." [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Автор</th>
      <th>Название</th>
      <th>Дата</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts.reverse() | searchPosts:searchStr; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ post.author }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.date | date:'dd/MM/yy, h:mm':null:'ru' }}</td>
      <td>
        <button
          class="btn btn-link open"
          [routerLink]="['/admin', 'post', post.id, 'edit']"
        >
          Открыть
        </button>
        <a (click)="remove(post.id)">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<ng-template #loading>
  <p class="text-center">Ожидание данных...</p>
</ng-template>
